/* You can add global styles to this file, and also import other style files */
@import 'angular-notifier/styles.scss';

body {
  width: 100%;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

nav.sidebar {
	background: #2d2e2e;
	height: 100%;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {

			a {
				padding: 20px;
        display: block;
				position: relative;
				color: #A1A9B3;
				display: block;
				font-size: 14px;
				line-height: 22px;
				padding-right: 40px;

				&:hover {
					color: #fff;
				}
        
        span {
          margin: 8x 15px 0 20px;
          padding: 0px 15px;
          position: absolute;
        }
			}

			.activated {
				background-color: #00a8ff;
				color: #fff;
			}
		}
	}
}

@media (max-width: 768px) {
	nav.sidebar {
		display: none;
	}
}

.comment {
	border: 1px solid #fff;
	background-color: white;
	box-shadow: 2px 2px 5px #2d2e2e;
	padding: 10px;
	width: 300px;
	word-wrap: break-word;
	border-radius: 2px;
	margin-top: 10px;
}

.link {
	cursor: pointer;
}

.admin-message {
	margin-left: 50px;
	background-color: #00a8ff;
}

.user-message {
	margin-left: 50px;
	background-color: #00a8ff;
}
