.overview {
  background-color: #fff;
  color: rgba(0,0,0,.5);
  border-top: 1px solid #E6E9EC;

  .overview-row {
    padding: 10px 0;

    .welcome-message {
      padding-top: 15px;
    }
  }
}

.cars {
  color: rgba(0,0,0,.5);
}